<h1>置顶讨论</h1>

<% 
    function getIndexes(total, current) {
        let before = [], after = []
        for (let i = 1; current - (i >> 1) > 1; i <<= 1) before.push(Math.max(1, current - i))
        for (let i = 1; current + (i >> 1) < total; i <<= 1) after.push(Math.min(total, current + i))
        return before.reverse().concat(current).concat(after)
    }

    let pages = Math.max(articles / 20, 1)
    let indexes = getIndexes(pages, page)
%>

<br>

<div class="markdown-body">
    <hr>
    <% for (let i in currentPage) { let item = currentPage[i]; %>
        <a href="/articles/<%= item.id %>" class="mdui-typo-headline><%= item.title %></a>
        <i class="mdui-text-color-grey">from</i> <a href="/articles/div<%= item.div %>"><%= item.dname %></a><br>
        <i class="mdui-text-color-grey">by</i> <a href="/user/<%= item.author %>"><%= item.display_name %></a>
        <span class="mdui-float-right">
            <%= item.created_at %>, <strong style="color:<%= (item.vote > 0) ? 'green' : ((item.vote < 0) ? 'red' : 'gray')%>"><%= (item.vote > 0 ? '+' : '') + item.vote %></strong>,
            <%= item.ncomments %> 条评论
        </span>
        <hr>
    <% } %>
</div>

<br><br>

<a class="mdui-btn mdui-btn-icon mdui-ripple" <% if (page == 1) { %>disabled<% } else { %>href="/articles/pinned?page=<%= page - 1%>"<% } %> >
	<i class="mdui-icon material-icons">chevron_left</i>
</a>
<% for (let i in indexes) { %>
    <a class="mdui-btn mdui-btn-icon mdui-ripple<% if (indexes[i] == page) { %> mdui-color-theme-accent<% } %>" href="/articles/pinned?page=<%= indexes[i] %>">
        <small><%= indexes[i] %></small>
    </a>
<% } %>
<a class="mdui-btn mdui-btn-icon mdui-ripple" <% if (page == pages) { %>disabled<% } else { %>href="/articles/pinned?page=<%= page + 1%>"<% } %> >
	<i class="mdui-icon material-icons">chevron_right</i>
</a>